
$font-stack: Helvetica, sans-serif;
$primary-color: #fff;

body {
    font-family: 100% $font-stack;
    background-color: $primary-color;
}

.search-form {
    background-color: teal;
  
    border: 1px solid;
}

button{
    color:cadetblue;
} 