
$font-stack: Helvetica, sans-serif;
$primary-color: #fff;

body {
    font-family: 100% $font-stack;
    text-align: center;
    background-color: $primary-color;
}

.photo-card {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #fff;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}

.search-form {
    background-color: teal;
  
    border: 1px solid;
}

button{
    color:cadetblue;
} 